env:
  global:
  - IMAGE_NAME=tqvarnst/ksink

cache:
  directories:
  - $HOME/.m2

language: java

services:
  - docker

jdk:
  - oraclejdk8



before_install:
  - docker login -u $DOCKER_HUB_USER -p $DOCKER_HUB_PASSWORD
  - cp .travis.settings.xml $HOME/.m2/settings.xml
  - curl -sL -o $HOME/s2i.tar.gz https://github.com/openshift/source-to-image/releases/download/v1.1.9/source-to-image-v1.1.9-db2b4645-linux-amd64.tar.gz 
  - pushd $HOME/bin && tar xvfz $HOME/s2i.tar.gz && popd

script:
  - mvn clean package -Popenshift -DskipTests
  - export TAG=`if [ "$TRAVIS_BRANCH" == "master" ]; then echo "latest"; else echo $TRAVIS_BRANCH ; fi`
  - ${HOME}/bin/s2i . registry.access.redhat.com/jboss-eap-7/eap71-openshift $IMAGE_NAME:$TAG
  - docker push $IMAGE_NAME:$TAG
  